@model userprice.Models.MoneyTransactions
@{
    ViewData["Title"] = "Kullanıcı Para Ekleme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>TR Yatırma</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="pmoney">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display:none;">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Yatıralacak Miktar</label>
                <input asp-for="AmountMoney" class="form-control" />
                <span asp-validation-for="AmountMoney" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Yatır" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

